.postHistory {
    width: 65%;
    height: 98%;
    position: absolute;
    left: 5%;
    overflow-y: scroll;
}

.postHistory:scrollbar {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
}

.postTemplate{
    width: 80%;
    height: relative;
    min-height: 100px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.postLine{
    border-bottom: 2px solid #000000;
}

.postTitle{
    font-weight: bold;
    word-wrap: break-word;
}

.postDescription{
    word-wrap: break-word;
}

.ratingLocation {
    display: flex;
    justify-content: start;
    padding: 12px 0;
}

.rating{
    display: flex;
    align-items: center;
    cursor: default;
}

.ratingSelected > .ratingButton,
.ratingSelected > .ratingCount{
    color: #00d907;
}

.ratingButton{
    margin-right: 10px;
    cursor: pointer;
    color: #555555;
    padding: 0;
    border: none;
    background: none;
}

.rating:not(.ratingSelected) > .ratingButton:hover{
    color: #333333;
}

.ratingSelected > .ratingButton:hover{
    color: #00bd06;
}

.postHistorySeparator {
    border-left: 1px solid #000000;
    height: 98%;
    position: absolute;
    left: 70%;
}

.postInput {
    border-radius: 5px;
    top: 10%;
    left: 72.5%;
    width: 25%;
    height: 45%;
    position: absolute;
}

.inputTitle{
    width: 99.5%;
    height: 10%;
    font-size: 20px;
    font-weight: bold;
}

.inputDesc{
    width: 100%;
    height: 90%;
    top: 20%;
    font-size: 15px;
    font-weight: bold;
    resize: none;
}

.sendButton{
    height: 4.5%;
    width: 10%;
    top: 60%;
    right: 10%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.sendButton:hover {
    background-color: #45a049;
    cursor: pointer;
}

.backButton{
    height: 4.5%;
    width: 10%;
    top: 70%;
    right: 17%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.backButton:hover {
    cursor: pointer;
}

.logoutButton{
    height: 4.5%;
    width: 10%;
    top: 70%;
    right: 3%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.logoutButton:hover {
    cursor: pointer;
}