<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/posts.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Posts</title>
</head>
<body onload="onLoadRun();">
    <div class="postHistory" id="postHistory">
    </div>
    <div class="postHistorySeparator"></div>

    <form action="/createPost" method="post" >
        <div class="postInput">
            <input class="inputTitle" type="text" name="Title" id="Title" placeholder="Title: "><br>
            <div class="formLine"></div>
            <textarea class="inputDesc" type="text" name="Description" id="Description" placeholder="Description: " ></textarea>
        </div>
        <input class="sendButton" type="submit" value="Send">
    </form>
    <button class="backButton" onclick="back()" >Back</button>
    <button class="logoutButton" onclick="logout()">Log Out</button>
<script src="/static/js/posts.js"></script>
</body>
</html>