<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Grades</title>
</head>
<body>
    <h1>Your Posted Questions:</h1>
    <table border="1">
        <thead>
            <tr>
                #placeholders
                <th>Questions</th>
                <th>Score </th>
            </tr>
        </thead>
        <tbody id="tableNum">
        </tbody>
    </table>
    <button onclick="window.location.href='/';">Back to Homepage</button>
    <script src="../static/js/gradebook.js"></script>
</body>
</html>
