<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/posts.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>User Grades</title>
</head>
<body>
    <h1>My Grades</h1>
    <h2>(Might take some time due to unhashing all the grades and then responding them, wait.)</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Questions</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="tableNum">
        </tbody>
    </table>
    <button onclick="window.location.href='/';">Back to Homepage</button>
    <script src="../static/js/userGrades.js"></script>
</body>
</html>
